body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* Header Styles */
header {
    background-color: #2c3e50;
    padding: 15px 20px;
    color: #ecf0f1;
    border-bottom: 4px solid #1a252f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    margin-left: auto; 
}

.page-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
.subtitle {
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0 0;
    text-align: center;
    flex-grow: 1;
    color: #bdc3c7;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background: #34495e;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background: #2c3e50;
}
.login-container {
    width: 100%;
    max-width: 400px; /* Increase max-width for better form sizing */
    margin: 100px auto; /* Center vertically and horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow */
}

h2 {
    margin-bottom: 20px;
    text-align: center; /* Center-align the header */
}

label {
    display: block;
    margin-bottom: 8px; /* Increase margin for spacing */
    font-weight: bold;  /* Make labels bold */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px; /* Increase padding for a larger input box */
    margin-bottom: 15px; /* Increase spacing between fields */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Increase font size for better readability */
}

button:hover {
    background-color: #555;
}

.login-link-top {
    padding: 10px 20px;
    background-color: #2980b9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-link-top:hover {
    background-color: #1a5e82;
}
