<html>
    <body>
        <form method="post">
            <label for="staff_name">Name:</label>
            <input type="text" id="staff_name" name="staff_name" value="{{ staff.staff_name }}">
            
            <label for="role">Role:</label>
            <input type="text" id="role" name="role" value="{{ staff.role }}">
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ staff.email }}">
            
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" value="{{ staff.dob }}">
            
            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
        
    </body>
</html>